extends layout

block content
    h1 О нас
    p.mt-4 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque in voluptatem minus architecto, accusamus, odio nisi dolore assumenda reprehenderit temporibus molestiae at iusto nulla praesentium quos excepturi repellendus repudiandae. Commodi.