extends layout

block content
    h1 Добро пожаловать!
    p.mt-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore amet nemo, dignissimos quibusdam veniam accusantium rem hic ipsam deserunt numquam dolores, architecto corrupti quam possimus laboriosam incidunt adipisci nostrum laborum.